body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;   
    line-height: 1,6%;
}
.container{
    display: flex;
    text-align: center;
}
.fondo1{
    width: 30%;
    background-color: #ffd700; 
}
.fondo2{
    flex: 1;
    width: 70%;
    height: 100%;
    background-image: url("img/Diseño sin título.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}
.fto{
    align-items: center;
    text-align: center;
    display: flex;
    background-color: aliceblue;
}
img {
    display: inline-block;
    max-width: 90%;
    padding: 70px;
    height: auto;
}
h1{
    text-align: center;
    margin: 0%;
    color: rgb(0, 255, 76);
    font-size: 1500%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
}
h2{
    text-align: center;
    font-size: 1000%;
}
h3{
    text-align: center;
    margin: 0%;
    color: rgb(255, 0, 0);
    font-size: 1100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
}
p{
    text-align: center;
    font-size: 500%;
}
h1, h2, h3, p {
    margin: 0 0 1em 0; 
    padding: 0;
}
